/* large.css */
@media (min-width: 768px) {
  header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  main {
    display:flex;
    flex-direction: column; /* keep vertical flow */
    gap: 2rem;
  }

  .join-layout {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .join h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0rem;
    margin: 1rem 0;
  }

  .title-box {
    background: none;
    color: #0f0f0f;
    border-radius: 6px;
    font-weight: 700;
    font-size: 2rem;
  }

  .link-box {
    display: inline-block;
    border-radius: 0;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    transition: transform 0.3s ease;
  }

  .link-box:hover {
    cursor: pointer;
    background: #336da8;
    transform: translateY(-3px);
  }

  /* Different color contrasts */
  .link-box.home,
  .link-box.discover,
  .link-box.directory {
    background: #042c55;
  }

  .link-box.join-now {
  background: #4469ad;
  }

  .link-box.home:hover,
  .link-box.discover:hover,
  .link-box.directory:hover {
    background: #4469ad;
  }

  .branding {
    display:flex;
    flex-direction: row;
    gap: 1rem;
  }

  .menu-toggle {
    display: none; /* hide hamburger */
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-height: none;
    transition: none;
    color: #fff;
  }

  .hero-img {
    height: 500px;
  }

  .hero-text h2 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  /* Layout for join page */
  section {
    flex: 1;
  }

  form {
    flex: 2;
  }

  .membership-cards {
    flex: 1;
    flex-direction: column;
  }

  .card {
    width: 90%;
  }

  footer {
  display: flex;
  flex-direction: row;
  }
}
