/* large.css */
@media (min-width: 768px) {
  header {
    display:flex;
    flex-direction: row;       /* side by side */
    justify-content: space-between;
    align-items: center;
  }

 main {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
  }

.branding {
    display:flex;
    flex-direction: row;
    gap: 1rem;
  }

  .menu-toggle {
    display: none;             /* hide hamburger */
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-height: none;
    transition: none;
    color: #fff;
  }
  
  .hero-img {
    height: 500px;
  }

  .hero-text h2 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }
}

section {
    flex: 1;
  }

 

  form {
    flex: 2;
  }

  .membership-cards {
    flex: 1;
    flex-direction: column;
  }

  .card {
    width: 90%;
}