@media (min-width: 32.5rem) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: var(--primary-color);
  }

  button#menuButton {
    display: none; /* hide hamburger on large screens */
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  section {
    border: 1px solid #eee;
    padding: 1rem;
    background-color: white;
  }

  h1, h2 {
    color: var(--secondary-color);
  }
}
