@media screen and (min-width:769px){

.hamburger {
display: none;
}

.about-hero{

    text-align:center;
    padding:6rem 8%;
}

.about-hero h1{

    font-size:4rem;
    margin:1rem 0;
}

.about-hero h1 span{

    color:var(--lime);
}

.about-hero p{

    max-width:850px;
    margin:auto;
}

.mission-vision{

    padding:4rem 8%;

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:2rem;
}

.mission-card{

    background:var(--card);
    padding:3rem;
    border-radius:15px;
    text-align:center;
}


.our-story{

    padding:6rem 8%;

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:4rem;
    align-items:center;
}

.story-image img{

    width:100%;
    border-radius:20px;
}

.values{

    padding:4rem 8%;
}

.values-grid{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:2rem;
}

.value-card{

    background:var(--card);
    padding:2rem;
    border-radius:15px;
    text-align:center;
}

.leadership{

    padding:4rem 8%;
}

.leaders-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
}

.leader-card{

    background:var(--card);
    padding:2rem;
    border-radius:15px;
    text-align:center;
}

.leader-card img{

    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:50%;
    margin-bottom:1rem;
}

}