@media screen and (max-width:768px){

/* NAVIGATION */

.navig-bar{

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav-links{

    flex-wrap:wrap;
    justify-content:center;
    gap:1rem;
}

/* Sidebar menu */
.nav-links {
  position: fixed;
  top: 0;
  left: -250px; /* hidden off-screen */
  width: 250px;
  height: auto;
  background: #333;
  color: #fff;
  flex-direction: column;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.nav-links li {
    margin: 1rem 0;
    text-align: center;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }

.nav-links.active {
  left: 0; /* slides in */
}

/* Overlay background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121212;
  display: none;
  z-index: 900;
}

.overlay.active {
  display: block;
}

/* Hamburger button */
.hamburger {
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #bdbcbc;
  z-index: 1100;
}

    .about-hero{

    padding:4rem 5%;
    text-align:center;
}

.about-hero h1{

    font-size:2.5rem;
}

.about-hero h1 span{

    color:var(--lime);
}

.mission-vision{

    padding:3rem 5%;

    display:grid;
    grid-template-columns:1fr;
    gap:1rem;
}

.mission-card{

    background:var(--card);
    padding:2rem;
    border-radius:15px;
    text-align:center;
}

.our-story{

    padding:4rem 5%;

    display:flex;
    flex-direction:column;
    gap:2rem;
}

.story-image img{

    width:100%;
    border-radius:15px;
}

.values{

    padding:3rem 5%;
}

.values-grid{

    display:grid;
    grid-template-columns:1fr;
    gap:1rem;
}

.value-card{

    background:var(--card);
    padding:2rem;
    border-radius:15px;
    text-align:center;
}

.leadership{

    padding:3rem 5%;
}

.leaders-grid{

    display:grid;
    grid-template-columns:1fr;
    gap:1rem;
}

.leader-card{

    background:var(--card);
    padding:2rem;
    border-radius:15px;
    text-align:center;
}

.leader-card img{

    width:120px;
    height:120px;
    border-radius:50%;
    margin-bottom:1rem;
}

}