/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#121212;
    color:#fff;
    line-height:1.6;
}

/* VARIABLES */

:root{

    --bg:#121212;
    --card:#1d1d1d;
    --border:#2c2c2c;

    --lime:#C6FF00;
    --lime-light:#DFFF4F;

    --white:#ffffff;
    --gray:#cfcfcf;

    --transition:.3s ease;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

/* BUTTONS */

.btn-primary{

    display:inline-block;

    background:var(--lime);
    color:#111;

    text-decoration:none;

    padding:14px 28px;

    border-radius:10px;

    font-weight:600;

    transition:var(--transition);
}

.btn-primary:hover{

    transform:translateY(-3px);

    box-shadow:
    0 0 15px var(--lime),
    0 0 30px rgba(198,255,0,.4);
}

.btn-secondary{

    display:inline-block;

    color:#fff;

    text-decoration:none;

    border:2px solid var(--lime);

    padding:14px 28px;

    border-radius:10px;
}

.btn-secondary:hover{

    background:rgba(198,255,0,.1);
}

/* HEADER */

header{

    position:sticky;
    top:0;

    z-index:999;

    background:#0f0f0f;

    border-bottom:1px solid var(--border);
}

.navbar{

    max-width:1200px;
    margin:auto;

    padding:1rem 5%;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo img{
    height:60px;
}

.nav-links{

    list-style:none;
    display:flex;
    justify-content: space-between;
}

.nav-links a{

    text-decoration:none;
    color:#fff;
}

.nav-links a:hover{
    color:var(--lime);
}

nav ul li {
  margin: 0 10px;
}

/* FEATURES */

.feature-card{

    background:var(--card);
    padding:2rem;
    border-radius:15px;
    border:1px solid var(--border);
    transition:.3s;
}

.feature-card:hover{

    transform:translateY(-8px);
}

.feature-card i{

    color:var(--lime);
    font-size:2rem;
    margin-bottom:1rem;
}

/* FOOTER */

footer{

    background:#0f0f0f;
    border-top:1px solid var(--border);
    text-align:center;
    padding:2rem;
}